<!DOCTYPE html>
<html ng-app="myApp">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="https://assets.contentful.com/8qulg98piw8g/qAkP5mdCbAQcsicg0wSkk/39ad679d24a45517a9750efb395fd42f/angular.js"></script>
<body>
     <div id="container">
        <data-header></data-header>
    </div>

    <div>
        <data-bodypart></data-bodypart>

    </div>
    
       <%= yield %>
</body>
</html>
