<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="http://assets.contentful.com/36t7ny03afhb/4e2isD8sS4GIkOecwEKgY0/f00ae4858d05c2f9afdfb619a6db44b0/angular.js"> </script>
 
    
<body>
    <div ng-app="myApp" ng-controller="MyCtrl">
        <%= yield %>
    </div>
    
    
</body>
</html>
